/*
#2D4059 -> 底色
#EA5455 -> 紅橘色
#F07B3F -> 橘色
#FFD460 -> 黃色
 */

body {
	background-color: #2D4059;
}

h2 {
	color: #F07B3F;
	padding: 10px;
}

.page1h1 {
    position: absolute;
    color: #EA5455;
    top: 150px;
    left: 10%;
    z-index: 9;
}

.page1h2 {
    position: absolute;
    color: #ee7778;
    top: 250px;
    left: 15%;
    z-index: 9;
}

.start-btn {
    position: absolute;
    background-color: #FFD460;
    color: #2D4059;
    border: none;
    top: 350px;
    right: 10%;
    width: 250px;
    height: 70px;
    font-size: 32px;
    z-index: 9;
}

.tab-content h2 {
    color: #FFD460;
}

header {
	border-bottom: 3px solid #F07B3F;
}

ul {
	background-color: #344966;
}

.btn-primary {
	width: 152px;
	margin-top: 10px;
}

.btn.active,
.btn.active:hover {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0);
    color: #EA5455;
}

.btn.active .fa-caret-up,
.btn.active:hover .fa-caret-up {
    display: block;
}

.btn {
	color: #FFD460;
    font-size: 2em;
}

.btn:hover {
    color: #EA5455;
    font-size: 2em;
}

.btn .fa-caret-up,
.btn:hover .fa-caret-up {
    display: none;
}

.btn:hover {
    -webkit-box-shadow: 0px 0px 64px 3px rgba(234,84,85,1);
    -moz-box-shadow: 0px 0px 64px 3px rgba(234,84,85,1);
    box-shadow: 0px 0px 64px 3px rgba(234,84,85,1);
}

.round {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	line-height: 65px;
    display: inline-block;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    background: #2D4059;
    border: 3px solid #FFD460; 
    top: 0;
}

li {
	width: 16.6%;

}

li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   border: 0;
   padding: 0;
   text-align: center;
}

.nav-tabs {
	border-bottom: 1px solid #EA5455;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 0px solid #ddd; 
    color: #2D4059;
    /*color: #EA5455;*/
    background: rgba(0,0,0,0);
}

.nav-tabs>li.active .round {
	border: 3px solid #2D4059; 
	/*border: 3px solid #EA5455; */
	background: #EA5455;
}

.nav-tabs>li>a:hover {
    border-color: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
}

.nav-tabs>li>a {
	margin-right: auto;
	margin-left: auto;
	color: #FFD460;
}

li.active:after {
	content: " ";
	position: absolute;
	left: 42%;
	opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #EA5455;
}

.liner{
    height: 2px;
    background: #FFD460;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 55px;
    z-index: 1;
}

.tab-content {
	background-color: #3a5373;
	padding: 10px 50px 50px 50px;
	min-height: 750px;
}

.total-content {
    color: #ec6566;
    font-size: 20px;
    margin-top: 109px;
    padding-top: 10px;
    margin-bottom: 10px;
    /*border-bottom:  3px solid #F07B3F;*/
    border-bottom:  1px solid #EA5455;
    border-top: 1px solid #EA5455;
}

.result-bar {
    color: #ec6566;
    border-bottom:  1px solid #EA5455;
    border-top: 1px solid #EA5455;
    height: 110px;
}

.text-left {
    position: relative;
    left: 8px;
}

.result-left {
    position: absolute;
    left: 10%;
    font-size: 28px;
    top: 120px;
}

.text-center {
    font-size: 36px;
    color: #EA5455;
}

.result-center {
    font-size: 40px;
    color: #EA5455;
    position: absolute;
    left: 40%;
    top: 115px;
}

.text-right {
    position: relative;
    right: 8px;
}

.result-right {
    position: absolute;
    right: 10%;
    font-size: 28px;
    top: 120px;
}

.report-btn {
    margin-top: 10px;
    background-color: #F07B3F;
    color: #2D4059;
    border: none;
    width: 100%;
    height: 100px;
    font-size: 28px;
}

#q1 .btn {
    width: 49%;
}

#q2 .btn {
    width: 32%;
    white-space:pre-wrap;
}

#q3 .btn {
    width: 49%;
}

#q4 .btn {
    width: 49%;
    min-height: 170px;
}

#q5 .btn {
    width: 49%;
}

#q6 .btn {
    width: 32%;
    min-height: 138px;
}

.next-btn {
    font-size: 40px;
    position: absolute;
    right: 2%;
    top: 160px;
    height: 300px;
    width: 40px;
    z-index: 999;
}

.pre-btn {
    font-size: 40px;
    position: absolute;
    left: 2%;
    top: 160px;
    height: 300px;
    width: 40px;
    z-index: 999;
}

.next-btn:hover {
    font-size: 40px;
    position: absolute;
    right: 2%;
    top: 160px;
    height: 300px;
    width: 40px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3); 
    cursor: pointer;
}

.pre-btn:hover {
    font-size: 40px;
    position: absolute;
    left: 2%;
    top: 160px;
    height: 300px;
    width: 40px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3); 
    cursor: pointer;
}

.next-btn i {
    position: relative;
    top: 42%;
    left: 30%;
    color: #ddd;
}

.pre-btn i {
    position: relative;
    top: 42%;
    /*left: 30%;*/
    color: #ddd;
}

.disable {
    opacity: .5;
}

.disable:hover {
    cursor: not-allowed;
}

.north:hover,
.central:hover,
.south:hover,
.east:hover,
.other:hover {
    cursor: pointer;
}

#result {
    margin-top: 50px;
}